@model IEnumerable<ofsen.Models.AppUsers>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.kullanıcıAdı)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailConfirmed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LockoutEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccessFailedCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.uyelikTarihi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.silindi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.kullanıcıAdı)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmailConfirmed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LockoutEnd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccessFailedCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.uyelikTarihi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.silindi)
                </td>
                <td>
                    <button class="btn btn-sm btn-light" onclick="userDetay(@item.Id)">
                        <span class="fas fa-glasses"></span>
                    </button>
                    <button class="btn btn-sm btn-primary" onclick="userEdit(@item.Id)">
                        <span class="fas fa-user-edit"></span>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    function userDetay(id) {
        
        new OzAjax("/Admin/Kullar/Detay", GET, { id: id }, detayBasari).BasitGonder();
        function detayBasari(data) {
            new OzModal().Sayfa(data);
        }
    }

    function userEdit(id) {
        window.location = "/Admin/Kullar/Düzenle/id";

    }
</script>