@model ofsen.Models.Pano

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pano</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.anatab)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.anatab)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.thumbName)
        </dt>
        <dd class = "col-sm-10">
            @if(!string.IsNullOrWhiteSpace(Model.thumbName))
            {
                <img src="~/uploads/@Model.thumbName" /><br />
                @Html.DisplayFor(model => model.thumbName)
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.metin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.metin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.yayinTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.yayinTarihi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.aktif)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.aktif)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
